body {
    background-image: url(de253c2b-4c8a-408e-b20d-113aa4667cda.jpeg);
}

div [type="submit"]{
    display: block;
    background-color: #5568FE;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

div [type="submit"]:hover{
    background-color: #3b4abe;
}